spring:
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: UedDUbY5LgDyXECi7EhB
            client-secret: VcXnT9GKMv
            redirect-uri: http://54.180.122.163:8080/login/oauth/naver
            authorization-grant-type: authorization_code
            client-name: Naver
            scope: name, phoneNumber

          kakao:
            client-id: 2a0bd0a5897351a8dae2b748455e77d1
            redirect-uri: http://54.180.122.163:8080/login/oauth/kakao
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope:
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id